body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: grid;
}

* {
  box-sizing: border-box;
  outline: none;
}


/* key */

.key {
  background-color: white;
  color: black;
  font-size: 12px;
  width: 46px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 4px;
  padding: 0 2px;
  border-radius: 10px;
  border: 2px solid black;
}

.key-empty {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.key.large {
  padding-top: 5px;
  font-size: 18px;
}

/* special keys */

.backspace,
.tab {
  width: 80px;
}

.enter {
  width: 100px;
}

.spacebar {
  width: 355px;
  font-size: 18px;
}

.shift {
  display: flex;
  flex-flow: row nowrap;
}

.l-s {
  width: 95px;
}

.r-s {
  width: 140px;
}

.num-special {
  justify-content: flex-start;
  padding-top: 5px;
}

.num-ins {
  width: 100px;
}

.num-large {
  margin-bottom: -58px;
  height: 92px;
}

/* keyboard layout */
.keyboard-container {
  width: 100%;
  overflow-x: scroll;
}

.keyboard {
  background-color: white;
  width: 1250px;
  margin: 100px   auto;
  padding: 20px 10px;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  border: 2px solid black;
}

.row {
  display: grid;
  grid-template-columns: auto 0.2fr 0.2fr;
  grid-gap: 25px;
  padding: 5px;
  margin-top: 5px;
}

.group,
.mini-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mini-group {
  margin-left: 28px;
}

.right {
  display: flex;
  justify-content: flex-end;
} 